* {
    margin:0;
    padding: 0; 
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: "Manrope", sans-serif;
}

:root {
    --color-primario: #f8f9f3; 
    --color-secundario: #f7e3e6; 
    --color-terciario: #823038; 
}

h1 {
    font-weight:900;
    font-size:6em ;
    color: #f7e3e6;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    color: #823038;
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    color: #823038;
    font-size:1.5em ;
}

p {
    color: #823038; 
}

.btn {
    background-color: #f7e3e6;
    border-color: #823038;
    color: #823038;
}

.btn:hover {
    background-color: #823038;
    border-color: #823038;
    color: #F4ACB7;
}

.navbar {
    background-color:transparent !important;
}

.navbar-brand img {
    height: 40px;   
    width: auto;    
}

.nav-link {
    color: #823038;
}

.navbar-toggler {
    border-color: transparent;
}

.container-hero {
    max-width: 30vw;
}

.parallax-section1 {
    background-image:url(../img/hero1.png);
    min-height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: #f8f9f3; 
}

.parallax-section2 {
    background-image:url(../img/hero2.png);
    min-height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: #f8f9f3; 
}


.card {
    background-color: #f8f9f3;
}