* {
    margin:0;
    padding: 0; 
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: "Manrope", sans-serif;
}

:root {
    --primary-color:; 
    --secondary-color:; 
    --terciary-color:; 
    --quaternary-color:; 
}

.navbar {
    background-color: whitesmoke !important;
}

.navbar-brand img {
    height: 40px;   
    width: auto;    
}

.navbar-toggler {
    border: none; 
}

.parallax-section {
    background-image: url(../img/interior1.jpg);
    min-height: 500px;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: #f0f0f0; 
}

.card {
    background-color: #F0F0F0;
}