* {
    margin:0;
    padding: 0; 
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: "Manrope", sans-serif;
}

:root {
    --color-primario:#823038 ; 
    --color-secundario: #f7e3e6; 
    --color-terciario:#F4ACB7;
}

h1 {
    font-weight:800;
    font-size:8em ;
    color: var(--color-primario)
}

h2 {
    font-weight:900;
    font-size:6em ;
    color: var(--color-primario)
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    color: var(--color-primario);
    font-size:1.5em ;
}

p {
    color: var(--color-primario) 
}

.btn {
    background-color: var(--color-secundario);
    border-color: var(--color-primario);
    color: var(--color-primario);
}

.btn:hover {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-terciario);
}

.navbar {
    background-color:transparent !important;
}

.navbar-brand img {
    height: 40px;   
    width: auto;    
}

.nav-link {
    color: var(--color-primario);
}

.nav-link:hover {
    color: var(--color-terciario);
}

.navbar-toggler {
    border-color: transparent;
}


.parallax-section1 {
    background-image:url(../img/hero1.png);
    min-height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-size: cover; 
}

.parallax-section2 {
    background-image:url(../img/hero2.png);
    min-height: 100vh; 
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: #f8f9f3; 
}

#hero {
    border-bottom: solid 1px #823038;
}

.container-hero {
    max-width: 30vw;
}

.card {
    background-color: var(--color-secundario);
    border-color: transparent;
}