* {
    margin:0;
    padding: 0; 
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: "Manrope", sans-serif;
}

:root {
    --color-primario: #f8f9f3; 
    --color-secundario: #f7e3e6; 
    --color-terciario: #823038; 
}

h1 {
    font-weight:100;
    font-size:6em ;
    color: #f7e3e6;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    color: #823038;
}

p {
    color: #823038; 
}

.btn {
    background-color: #f7e3e6;
    border-color: #823038;
    color: #823038;
}

.btn:hover {
    background-color: #823038;
    border-color: #823038;
    color: #F4ACB7;
}

.navbar {
    background-color:#f7e3e6 !important;
}

.navbar-brand img {
    height: 40px;   
    width: auto;    
}

.nav-link {
    color: #823038;
}



.parallax-section {
    background-image:url(../img/interior1.jpg);
    min-height: 500px;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: #f8f9f3; 
}


.card {
    background-color: #f8f9f3;
}